<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="{{ character.image }}" />
            <h5 class="card-title">{{ character.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ character.species }}</h6>

            <a href="{{ path('app_character_showcharacter', {'character': character.id}) }}" class="btn btn-info">Details</a>
        </div>
    </div>
</div>