{% extends 'base.html.twig' %}

{% block title %}
    All characters live here.
{% endblock %}

{% block body %}
    <div class="row">
        {% for character in characters %}
            {% include 'cards/character.html.twig' with {'character': character} %}
        {% endfor %}
    </div>
{% endblock %}
