{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1>{{ character.name }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-4">Status:</div><div class="col-8">{{ character.status }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">Species:</div><div class="col-8">{{ character.species }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">Subspecies:</div><div class="col-8">{{ character.type }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">Gender:</div><div class="col-8">{{ character.gender }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">Origin location:</div>
                        <div class="col-8">
                        {% if origin is defined %}
                            <a href="{{ path('app_location_showlocation', {'location': origin.id}) }}">{{ origin.name }}</a>
                        {% else %}
                            Unknown
                        {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Current location:</div>
                        <div class="col-8">
                            {% if location is defined %}
                                <a href="{{ path('app_location_showlocation', {'location': location.id}) }}">{{ location.name }}</a>
                            {% else %}
                                Unknown
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text-center">
                        <img src="{{ character.image }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Episodes</h3>
                </div>
            </div>
            <div class="row">
                {% for episode in episodes %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ episode.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ episode.episode }}</h6>
                            <div class="card-text">Aired {{ episode.airDate.format('d-m-Y') }}</div>

                            <a href="{{ path('app_episode_showepisode', {'episode': episode.id}) }}" class="btn btn-info">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ character.name }}
{% endblock %}