{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ episode.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">Episode code:</div><div class="col-8">{{ episode.episode }}</div>
            </div>
            <div class="row">
                <div class="col-4">Aired:</div><div class="col-8">{{ episode.airDate|date('M d Y') }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Starring</h3>
        </div>
    </div>
    <div class="row">
        {% for character in characters %}
            {% include 'cards/character.html.twig' with {'character': character} %}
        {% else %}
            This episode had no characters. Weird.
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    Rick and Morty {{ episode.episode }} - {{ episode.name }}
{% endblock %}