{% extends 'base.html.twig' %}

{% block title %}
    All episodes live here.
{% endblock %}

{% block body %}
    <div class="row">
        {% for episode in episodes %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ episode.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ episode.episode }}</h6>
                        <div class="card-text">Aired {{ episode.airDate.format('d-m-Y') }}</div>

                        <a href="{{ path('app_episode_showepisode', {'episode': episode.id}) }}" class="btn btn-info">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
