{% extends 'base.html.twig' %}

{% block title %}
    Every location in one place, magic.
{% endblock %}

{% block body %}
    <div class="row">
    {% for location in locations %}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ location.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ location.dimension }}</h6>
                    <a href="{{ path('app_location_showlocation', {'location': location.id}) }}" class="btn btn-info">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
