{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ location.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Dimension:</div><div class="col-8">{{ location.dimension }}</div>
    </div>
    <div class="row">
        <div class="col-4">Type:</div><div class="col-8">{{ location.type }}</div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Residents</h3>
        </div>
    </div>
    <div class="row">
        {% for character in residents %}
            {% include 'cards/character.html.twig' with {'character': character} %}
        {% else %}
            This location has no residents.
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ location.name }}
{% endblock %}